@charset "utf-8";
.contentWrap {
	min-height:700px;
}
#headIn {
	left:0 !important;
	top:0 !important;
}
@media screen and (min-width: 769px){
	#headIn {
		pointer-events: auto
	}
}
.mainWrap {
	position: relative;
}
.fixedWrap {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	pointer-events: none;
	z-index:30;
}
header {
	position: sticky;
	left:0;
	top:0;
	height:100%;
	max-height:100vh;
}
#triggerBox {
	pointer-events: auto
}
#topWrap {
	overflow: inherit !important;
}
body#index {
	background:url(../images/top_r/bg.jpg) no-repeat center center / cover;
	min-height:100vh;
}
body#index.active {
	overflow: inherit !important;
}
body#index #headIn, body#index main {
	position: relative;
	height: 100%;
	width: 100%;
	min-width: 1200px;
	max-height:100vh;
	left: 0;
	top: 0;
}
@media screen and (max-width: 768px){
	body#index #headIn, body#index main {
		position: relative;
		height: auto;
		width: 100%;
		min-width: 1px;
		min-height: 1px;
		left: 0;
		top: 0;
	}
	body#index #headIn {
		position: absolute;
		overflow: auto;
		height:100vh;
	}
	body#index #headIn.on {
		pointer-events: auto
	}
}
.contentWrap {
	padding-left:240px;
	position: relative;
	background:#000;
}
.contentWrap__img{}
.contentWrap__img img {
	width:100%;
	height:auto;
}
@media screen and (max-width: 768px){
	.contentWrap {
		padding-left:0;
		min-height:1px;
	}
	.contentWrap__logo {
		position: absolute;
		top:4vw;
		height:17.6vw;
		left:0;
		right:0;
		background:url(../images/top_r/logo_r.png) no-repeat center center / contain;
	}
	.contentWrap__img {
		width:100%;
		overflow:auto;
	}
	.contentWrap__img--p {
		width:100%;
	}
}
footer {
	margin-top:0;
	/*pointer-events: none;*/
	padding-top:20px;
}
.navTw a > span:after {
	content: "";
	position: absolute;
	background: url(../images/sns_tw.svg) no-repeat 0 0 / 100% !important;
	width: 20px;
	height: 17px;
	top: 12px;
	right: 0px;
}
@media screen and (min-width: 769px){
	body#index #headIn h1 {
		width:201px;
		height:98px;
		left:20px;
		top:40px;
	}
}
.footer__banners {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	pointer-events: auto;
	margin-bottom:0;
}
.footer__banners li {
	margin:0 12px 24px;
}
.footer__banners li a img {
	display: block;
	transition:all 0.33s ease;
}
.footer__banners li a:hover img {
	opacity:0.75;
}
@media screen and (max-width: 768px){
	body#index footer {
		position: relative;
		z-index: 2;
		padding-top: 86vw;
		overflow: hidden;
	}

	.footer__banners {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		pointer-events: auto;
		margin-bottom:40px;
		position: relative;
		z-index:5;
		margin-top: 5px;
	}
	.footer__banners li {
		width:45%;
		margin:1vw 1vw;
	}
	.footer__banners li img {
		width:100%;
		height:auto;
	}
	.shareBox > ul {
		padding-bottom:30vw;
	}
}
.contentWrap__start {
	height:90px;
	position: absolute;
	left:240px;
	right:0;
	bottom:30px;
	background:url(../images/top_r/start.png) no-repeat center center / contain;
}
@media screen and (max-width: 768px){
	.contentWrap__start {
		left:0;
		top:unset;
		bottom:5vw;
		height:19.5vw;
		background-image:none;
	}
	body#index footer:after {
		background-image: none;
	}
}
@media screen and (min-width: 769px){
	body#index footer {
		background-image: url(../images/top_r/foot_bg.png);
	}
	body#index #headIn nav ul li {
		margin-bottom:-4px;
	}
}
